/*selector universal body*/
* {
    box-sizing: border-box;
}

/* =========================================
   1. ESTILOS BASE Y MÓVILES
========================================= */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0;
    /* contenido despues del header */
    padding: 90px 0 70px 0;
    background-color: #f9f9f9;
    /* Evitamos el scroll horizontal en caso de que el 3D se asome */
    overflow-x: hidden; 

     /* imagen de fondo */
    background-image:url("img/image.png");
    background-size:cover;        /* llena toda la pantalla */
    background-position:center;   /* centra la imagen */
    background-attachment:fixed;  
}

/* capa superpuesta para el efecto de transparencia */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8); /* transparencia” */
    z-index:-1;
}

/* El contenedor padre móvil */
.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;/*limite de ancho para escritorio*/
    margin: 0 auto;/*centrado horizontal*/
}

/* =========================================
   2. MEDIA QUERIES (TABLETS Y ESCRITORIO)
========================================= */

/* Tabletas: Ancho mínimo de 768px */
/* ===== TABLET ===== */
@media (min-width:768px){

    .login{
        max-width:550px;
        padding:40px;
    }

    .crearcuenta{
        max-width:550px;
        padding:40px;
    }

    .promos{
        max-width:550px;
        padding:40px;
    }

}


/* 1. EL CONTENEDOR PRINCIPAL (La barra) */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Obliga a la barra a estirarse de orilla a orilla */
    background-color: #0b7a53;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0 0; /* Bordes redondeados en la parte superior */
    
    /* MAGIA FLEXBOX: Esto obliga a los iconos a ponerse en horizontal */
    display: flex; 
    flex-direction: row; /* Fuerza la fila horizontal */
    justify-content: space-around; /* Reparte el espacio sobrante por igual */
    align-items: center; /* Los centra verticalmente */
    
    padding: 10px 0;
    z-index: 1000; 
}

/* 2. CADA BOTÓN (Icono + Texto) */
.nav-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex: 1; /* Hace que cada botón mida exactamente lo mismo de ancho */
    text-decoration: none;
    color: #f3f5f8;
    font-size: 12px;
    transition: color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

/* 3. TAMAÑO DE LOS ÍCONOS */
.nav-item svg {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    transition: transform 0.2s ease;
}

/* 4. ESTADO ACTIVO (Cuando lo tocas) */
.nav-item.active {
    color: #18181a; 
}



/* 5. RESPONSIVE (Ocultar en PC si solo lo quieres en celular) */
@media (min-width: 1024px) {
    .bottom-nav {
        display: none;
    }

    body {
        padding-bottom: 0;
    }
}

/* ===========================
   HEADER
=========================== */

.header{
    background:#0b7a53;
    color:#fff;
    height:90px;
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* para que el header se mantenga fijo en la parte superior */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    border-radius: 0 0 12px 12px; /* Bordes redondeados en la parte superior */
}

/* Flecha */

.header i{
    font-size:22px;
    cursor:pointer;
    z-index:2;
}

.header a{
    left: -58px;
}

/* Logo centrado */

.logo{
    position:absolute;
    left:40%;
    transform:translateX(-50%);
}

.logo img{
    width:140px;
    height:auto;
    display:block;
}


/* ==========================
   LOGIN
========================== */

.logincontenedor{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
}

.login{
    width:100%;
    padding:30px 20px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
    text-align:center;
}


.login h2{
    color:#0b7a53;
    margin-bottom:5px;
    font-size:24px;
}


.login p{
    color:#0b7a53;
    margin-bottom:25px;
    font-size:15px;
}


/* cajas usuario y contraseña */

.cajas{
    display:flex;
    align-items:center;
    background:#f1f1f1;
    border-radius:12px;
    padding:12px 15px;
    margin-bottom:15px;
    border:2px solid #171616;
}


.cajas i{
    color:#528f7a;
    margin-right:10px;
}


.cajas input{
    border:none;
    outline:none;
    background:none;
    width:100%;
    font-size:12px;
}

/* pequeña animacion cuando el input está seleccionado */
.cajas{
    transition: all .5s;
}

.cajas:focus-within{
    border-color:#0b7a53;
    box-shadow:0 5px 15px rgba(11,122,83,.25);
    transform:translateY(-4px);
}


/* botón INICIAR SESIÓN */

.login button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:12px;
    background:#ff3131;
    color:white;
    font-size:14px;
    font-weight:bold;
    margin-top:25px;
    cursor:pointer;
}


/* crear cuenta / olvidar contraseña / continuar sin registro */

.opciones{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:18px;
}


.recuperar{
    color:#0b7a53;
    font-size:12px;
}


.sin-registro{
    display:inline-block;
    margin-top:20px;
    color:#0b7a53;
    font-size:14px;
}

/*imagen flechibus*/
.fbus{
    display:flex;
    justify-content:center;
    align-items:center; 
    margin-top: -20px;
}

.fbus img{
    width:90%;
    max-width:170px;
    height:auto;
    animation:subir .8s ease;
}

@keyframes subir{

    0%{
        opacity:0;
        transform:translateY(40px);
    }

    70%{
        transform:translateY(-8px);
    }

    100%{
        opacity:1;
        transform:translateY(0);
    }
}

/*=========================================================
                PÁGINA CREAR CUENTA
=========================================================*/

/* Contenedor principal de la página */
.contenedor-crearcuenta{

    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    margin-top: -35px;

}

.crearcuenta form{
    position:relative;
    top:-15px;
}

/* Tarjeta donde se encuentra el formulario */
.crearcuenta{
    width:100%;
    padding:10px 20px ;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}


/* Título principal */
h2{

    text-align:center;
    color:#0b7a53;
    margin-top:10px;

}

/* Subtítulos de cada sección */

.crearcuenta h3{

    color:#0b7a53;
    margin-bottom:5px;
    font-size:15px;

}
.cajas input{
    font-size: 10px;
}

/*==============================
        CHECKBOXES
===============================*/

/* Espaciado entre cada opción */

.opcion-check{
    font-size:11px;

}


/* Alineación del texto con el checkbox */

.opcion-check label{

    display:flex;
    align-items:center;
    gap:10px;

}

/* Tamaño del checkbox */

.opcion-check input{

    width:15px;
    height:15px;

}

/*==============================
            BOTÓN
===============================*/

.crearcuenta button{

    width:100%;
    margin-top:8px;
    padding:8px;
    border:none;
    border-radius:10px;
    background:#ff3131;
    color:#fff;
    font-size:13px;
    font-weight:bold;

}

.contenedor-promo{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    margin-top: -35px;
}

.promos{
    width: 100%;
    display:flex;
    flex-direction:column;
    gap:12px;
    padding:20px 10px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}




/* Tarjetas de promociones */

.tarjeta-promocion{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    border:1px solid #0b7a53;
}

.tarjeta-promocion img{
    width:100%;
    display:block;
}

.pie-promocion{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 12px;
}

.fecha-vigencia{
    display:flex;
    align-items:center;
    gap:8px;
    color:#0b7a53;
    font-size:10px;
}

.pie-promocion a{
    text-decoration:none;
    color:#333;
    font-size:10px;
}


/* Información de la promoción */

.detalle-promocion{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 15px;
    background: #f8f8f8;
    border-top: 0;
    transition: all .45s ease;
}

.detalle-promocion h5{
    color:#0b7d5b;
    margin-bottom:10px;
    margin-top:0;
}

.detalle-promocion p{
    margin-bottom:10px;
    font-size:11px;
}

/* función para mostrar/ocultar detalles */

.detalle-promocion.mostrar{
    max-height: 300px; /* Ajusta según el contenido */
    opacity: 1;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.ver-mas{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* flechas abrir y cerrar */
.ver-mas::after{
    content:"▼";
    display:inline-block;
    font-size:9px;
    margin-left:5px;
    transition:transform .35s ease;
}

.ver-mas.abierto::after{
    transform:rotate(180deg);
}